.text {
  font-size: 1.125rem;

  @for $i from 1 through 12 {
    &_#{$i} {
      font-size: var(--fz-#{$i})
    }
  }

  &_bold {
    font-weight: 700;
  }

  &_clr_primary {
    color: var(--clr-primary);
  }

  &_clr_white {
    color: white;
  }
}