/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  /* line-height: calc(2px + 2ex + 2px); */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

li {
  display: inline-block;
}

a:not([class]) {
  text-decoration-skip-ink: all;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  font-size: max(16px, 1rem);
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Using below when you use framework */
/* #root, #__next {
  isolation: isolate;
} */
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --clr-font: hsl(345, 6%, 13%);
  --clr-font-lighter: hsl(0, 0%, 45%);
  --clr-primary: hsl(181, 49%, 55%);
  --clr-others: hsl(0, 0%, 87%);
  --clr-shadow: hsla(0, 0%, 0%, 0.078);
  --clr-card-border: hsla(0, 0%, 0%, 0.161);
  --clr-footer: hsl(0, 0%, 96%);
  --clr-to-plan: hsl(4, 100%, 66%);
  --clr-plan-header: hsl(220, 60%, 98%);
  --clr-scroll-bar: hsl(44, 100%, 66%);
  --clr-star: hsl(44, 89%, 64%);
  --ff-comfortaa: Comfortaa, sans-serif;
  --ff-wendy: "Wendy One", sans-serif;
  --space: 1rem;
  --fz-basic: 1rem;
  --space-1: calc(var(--space) * 0.25);
  --fz-1: calc(var(--fz-basic) * 0.25);
  --space-2: calc(var(--space) * 0.5);
  --fz-2: calc(var(--fz-basic) * 0.5);
  --space-3: calc(var(--space) * 0.75);
  --fz-3: calc(var(--fz-basic) * 0.75);
  --space-4: calc(var(--space) * 1);
  --fz-4: calc(var(--fz-basic) * 1);
  --space-5: calc(var(--space) * 1.25);
  --fz-5: calc(var(--fz-basic) * 1.25);
  --space-6: calc(var(--space) * 1.5);
  --fz-6: calc(var(--fz-basic) * 1.5);
  --space-7: calc(var(--space) * 1.75);
  --fz-7: calc(var(--fz-basic) * 1.75);
  --space-8: calc(var(--space) * 2);
  --fz-8: calc(var(--fz-basic) * 2);
  --space-9: calc(var(--space) * 2.25);
  --fz-9: calc(var(--fz-basic) * 2.25);
  --space-10: calc(var(--space) * 2.5);
  --fz-10: calc(var(--fz-basic) * 2.5);
  --space-11: calc(var(--space) * 2.75);
  --fz-11: calc(var(--fz-basic) * 2.75);
  --space-12: calc(var(--space) * 3);
  --fz-12: calc(var(--fz-basic) * 3);
}

body {
  color: var(--clr-font);
  font-size: var(--fz-primary);
  font-family: "Noto Sans TC", sans-serif;
}

ul {
  padding-inline-start: 0;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:where(:active, :visited, :link) {
  color: inherit;
}

.text_1 {
  font-size: var(--fz-1);
}
.text_2 {
  font-size: var(--fz-2);
}
.text_3 {
  font-size: var(--fz-3);
}
.text_4 {
  font-size: var(--fz-4);
}
.text_5 {
  font-size: var(--fz-5);
}
.text_6 {
  font-size: var(--fz-6);
}
.text_7 {
  font-size: var(--fz-7);
}
.text_8 {
  font-size: var(--fz-8);
}
.text_9 {
  font-size: var(--fz-9);
}
.text_10 {
  font-size: var(--fz-10);
}
.text_11 {
  font-size: var(--fz-11);
}
.text_12 {
  font-size: var(--fz-12);
}
.text_bold {
  font-weight: 700;
}
.text_clr_primary {
  color: var(--clr-primary);
}

.mt_1 {
  margin-top: var(--space-2);
}

.pt_1 {
  padding-top: var(--space-2);
}

.mt_2 {
  margin-top: var(--space-4);
}

.pt_2 {
  padding-top: var(--space-4);
}

.mt_3 {
  margin-top: var(--space-6);
}

.pt_3 {
  padding-top: var(--space-6);
}

.mt_4 {
  margin-top: var(--space-8);
}

.pt_4 {
  padding-top: var(--space-8);
}

.mt_5 {
  margin-top: calc(var(--space) * 3.75);
}

.mt_6 {
  margin-top: calc(var(--space) * 6.25);
}

.pt_5 {
  padding-top: calc(var(--space) * 3.75);
}

.pt_6 {
  padding-top: calc(var(--space) * 6.25);
}

.mb_1 {
  margin-bottom: var(--space-2);
}

.pb_1 {
  padding-bottom: var(--space-2);
}

.mb_2 {
  margin-bottom: var(--space-4);
}

.pb_2 {
  padding-bottom: var(--space-4);
}

.mb_3 {
  margin-bottom: var(--space-6);
}

.pb_3 {
  padding-bottom: var(--space-6);
}

.mb_4 {
  margin-bottom: var(--space-8);
}

.pb_4 {
  padding-bottom: var(--space-8);
}

.mb_5 {
  margin-bottom: calc(var(--space) * 3.75);
}

.mb_6 {
  margin-bottom: calc(var(--space) * 6.25);
}

.pb_5 {
  padding-bottom: calc(var(--space) * 3.75);
}

.pb_6 {
  padding-bottom: calc(var(--space) * 6.25);
}

.ml_1 {
  margin-left: var(--space-2);
}

.pl_1 {
  padding-left: var(--space-2);
}

.ml_2 {
  margin-left: var(--space-4);
}

.pl_2 {
  padding-left: var(--space-4);
}

.ml_3 {
  margin-left: var(--space-6);
}

.pl_3 {
  padding-left: var(--space-6);
}

.ml_4 {
  margin-left: var(--space-8);
}

.pl_4 {
  padding-left: var(--space-8);
}

.ml_5 {
  margin-left: calc(var(--space) * 3.75);
}

.ml_6 {
  margin-left: calc(var(--space) * 6.25);
}

.pl_5 {
  padding-left: calc(var(--space) * 3.75);
}

.pl_6 {
  padding-left: calc(var(--space) * 6.25);
}

.mr_1 {
  margin-right: var(--space-2);
}

.pr_1 {
  padding-right: var(--space-2);
}

.mr_2 {
  margin-right: var(--space-4);
}

.pr_2 {
  padding-right: var(--space-4);
}

.mr_3 {
  margin-right: var(--space-6);
}

.pr_3 {
  padding-right: var(--space-6);
}

.mr_4 {
  margin-right: var(--space-8);
}

.pr_4 {
  padding-right: var(--space-8);
}

.mr_5 {
  margin-right: calc(var(--space) * 3.75);
}

.mr_6 {
  margin-right: calc(var(--space) * 6.25);
}

.pr_5 {
  padding-right: calc(var(--space) * 3.75);
}

.pr_6 {
  padding-right: calc(var(--space) * 6.25);
}

.mx_1 {
  margin-inline: var(--space-2);
}

.px_1 {
  padding-inline: var(--space-2);
}

.mx_2 {
  margin-inline: var(--space-4);
}

.px_2 {
  padding-inline: var(--space-4);
}

.mx_3 {
  margin-inline: var(--space-6);
}

.px_3 {
  padding-inline: var(--space-6);
}

.mx_4 {
  margin-inline: var(--space-8);
}

.px_4 {
  padding-inline: var(--space-8);
}

.mx_5 {
  margin-inline: calc(var(--space) * 3.75);
}

.mx_6 {
  margin-inline: calc(var(--space) * 6.25);
}

.px_5 {
  padding-inline: calc(var(--space) * 3.75);
}

.px_6 {
  padding-inline: calc(var(--space) * 6.25);
}

.my_1 {
  margin-block: var(--space-2);
}

.py_1 {
  padding-block: var(--space-2);
}

.my_2 {
  margin-block: var(--space-4);
}

.py_2 {
  padding-block: var(--space-4);
}

.my_3 {
  margin-block: var(--space-6);
}

.py_3 {
  padding-block: var(--space-6);
}

.my_4 {
  margin-block: var(--space-8);
}

.py_4 {
  padding-block: var(--space-8);
}

.my_5 {
  margin-block: calc(var(--space) * 3.75);
}

.my_6 {
  margin-block: calc(var(--space) * 6.25);
}

.py_5 {
  padding-block: calc(var(--space) * 3.75);
}

.py_6 {
  padding-block: calc(var(--space) * 6.25);
}

.container {
  inline-size: min(100% - var(--space-10), 68rem);
  margin-inline: auto;
}
.container_relative {
  position: relative;
}

.header__header {
  padding-block: var(--space-4);
  display: flex;
  justify-content: space-between;
}
.header__logo {
  inline-size: 39.06%;
  object-fit: contain;
}
.header_border_bottom {
  border-bottom: 2px solid #FFD153;
}
.header__btn {
  padding: var(--space-2) var(--space-8);
  background-color: var(--clr-to-plan);
  font-size: var(--fz-sm);
  color: white;
}
.header__content {
  padding-block: var(--space-8);
}
.header__title {
  color: var(--clr-primary);
  margin-block-end: var(--space-2);
}
.header__paragraph {
  margin-block-end: var(--space-4);
}
.header__img {
  inline-size: 90.84%;
  margin-inline: auto;
}
.header__img-wrapper {
  padding-block-end: var(--space-2);
  margin-block-end: var(--space-8);
  background-image: url(/src/asset/img/index/bg-yellow-mobile.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
}

.content {
  padding-block-start: calc(var(--space) * 3.75);
  text-align: center;
}
.content__paragraph {
  margin-block-start: var(--space-4);
}
.content__list {
  margin-block-start: var(--space-8);
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  align-items: center;
}
.content__item {
  inline-size: 68.06%;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.btn {
  border-radius: 99em;
}
.btn_back-top {
  inline-size: 13.33%;
  display: flex;
  border-radius: 50%;
  position: fixed;
  inset: auto clamp(var(--space-4), 4vw, var(--space-12)) 12vh auto;
}
.btn_primary {
  padding: var(--space-3) var(--space-8);
  background-color: var(--clr-primary);
}

.pic {
  margin-inline: auto;
}
.pic_sm {
  inline-size: 26.32%;
}

.card {
  border-radius: var(--space-3);
  box-shadow: 0px 2px 10px 0 var(--clr-shadow);
}
.card_md {
  inline-size: 77.61%;
}
.card_md > p {
  padding: 0 var(--space-4) var(--space-6);
}

/*# sourceMappingURL=style.css.map */
