/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  /* line-height: calc(2px + 2ex + 2px); */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

li {
  display: inline-block;
}

a:not([class]) {
  text-decoration-skip-ink: all;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  font-size: max(16px, 1rem);
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Using below when you use framework */
/* #root, #__next {
  isolation: isolate;
} */
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --clr-font: hsl(345, 6%, 13%);
  --clr-font-lighter: hsl(0, 0%, 45%);
  --clr-primary: hsl(181, 49%, 55%);
  --clr-others: hsl(0, 0%, 87%);
  --clr-shadow: hsla(0, 0%, 0%, 0.078);
  --clr-card-border: hsla(0, 0%, 0%, 0.161);
  --clr-footer: hsl(0, 0%, 96%);
  --clr-to-plan: hsl(4, 100%, 66%);
  --clr-plan-header: hsl(220, 60%, 98%);
  --clr-scroll-bar: hsl(44, 100%, 66%);
  --clr-star: hsl(44, 89%, 64%);
  --ff-comfortaa: Comfortaa, sans-serif;
  --ff-wendy: "Wendy One", sans-serif;
  --space: 1rem;
  --fz-basic: 1rem;
  --space-1: calc(var(--space) * 0.25);
  --fz-1: calc(var(--fz-basic) * 0.25);
  --space-2: calc(var(--space) * 0.5);
  --fz-2: calc(var(--fz-basic) * 0.5);
  --space-3: calc(var(--space) * 0.75);
  --fz-3: calc(var(--fz-basic) * 0.75);
  --space-4: calc(var(--space) * 1);
  --fz-4: calc(var(--fz-basic) * 1);
  --space-5: calc(var(--space) * 1.25);
  --fz-5: calc(var(--fz-basic) * 1.25);
  --space-6: calc(var(--space) * 1.5);
  --fz-6: calc(var(--fz-basic) * 1.5);
  --space-7: calc(var(--space) * 1.75);
  --fz-7: calc(var(--fz-basic) * 1.75);
  --space-8: calc(var(--space) * 2);
  --fz-8: calc(var(--fz-basic) * 2);
  --space-9: calc(var(--space) * 2.25);
  --fz-9: calc(var(--fz-basic) * 2.25);
  --space-10: calc(var(--space) * 2.5);
  --fz-10: calc(var(--fz-basic) * 2.5);
  --space-11: calc(var(--space) * 2.75);
  --fz-11: calc(var(--fz-basic) * 2.75);
  --space-12: calc(var(--space) * 3);
  --fz-12: calc(var(--fz-basic) * 3);
}

body {
  color: var(--clr-font);
  font-size: var(--fz-primary);
  font-family: "Noto Sans TC", sans-serif;
  text-align: center;
}

ul {
  padding-inline-start: 0;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:where(:active, :visited, :link) {
  color: inherit;
}

.text {
  font-size: 1.125rem;
}
.text_1 {
  font-size: var(--fz-1);
}
.text_2 {
  font-size: var(--fz-2);
}
.text_3 {
  font-size: var(--fz-3);
}
.text_4 {
  font-size: var(--fz-4);
}
.text_5 {
  font-size: var(--fz-5);
}
.text_6 {
  font-size: var(--fz-6);
}
.text_7 {
  font-size: var(--fz-7);
}
.text_8 {
  font-size: var(--fz-8);
}
.text_9 {
  font-size: var(--fz-9);
}
.text_10 {
  font-size: var(--fz-10);
}
.text_11 {
  font-size: var(--fz-11);
}
.text_12 {
  font-size: var(--fz-12);
}
.text_bold {
  font-weight: 700;
}
.text_clr_primary {
  color: var(--clr-primary);
}
.text_clr_white {
  color: white;
}

.mt_1 {
  margin-top: var(--space-1);
}

.pt_1 {
  padding-top: var(--space-1);
}

.mt_2 {
  margin-top: var(--space-2);
}

.pt_2 {
  padding-top: var(--space-2);
}

.mt_3 {
  margin-top: var(--space-3);
}

.pt_3 {
  padding-top: var(--space-3);
}

.mt_4 {
  margin-top: var(--space-4);
}

.pt_4 {
  padding-top: var(--space-4);
}

.mt_5 {
  margin-top: var(--space-5);
}

.pt_5 {
  padding-top: var(--space-5);
}

.mt_6 {
  margin-top: var(--space-6);
}

.pt_6 {
  padding-top: var(--space-6);
}

.mt_7 {
  margin-top: var(--space-7);
}

.pt_7 {
  padding-top: var(--space-7);
}

.mt_8 {
  margin-top: var(--space-8);
}

.pt_8 {
  padding-top: var(--space-8);
}

.mt_9 {
  margin-top: var(--space-9);
}

.pt_9 {
  padding-top: var(--space-9);
}

.mt_10 {
  margin-top: var(--space-10);
}

.pt_10 {
  padding-top: var(--space-10);
}

.mt_11 {
  margin-top: var(--space-11);
}

.pt_11 {
  padding-top: var(--space-11);
}

.mt_12 {
  margin-top: var(--space-12);
}

.pt_12 {
  padding-top: var(--space-12);
}

.mb_1 {
  margin-bottom: var(--space-1);
}

.pb_1 {
  padding-bottom: var(--space-1);
}

.mb_2 {
  margin-bottom: var(--space-2);
}

.pb_2 {
  padding-bottom: var(--space-2);
}

.mb_3 {
  margin-bottom: var(--space-3);
}

.pb_3 {
  padding-bottom: var(--space-3);
}

.mb_4 {
  margin-bottom: var(--space-4);
}

.pb_4 {
  padding-bottom: var(--space-4);
}

.mb_5 {
  margin-bottom: var(--space-5);
}

.pb_5 {
  padding-bottom: var(--space-5);
}

.mb_6 {
  margin-bottom: var(--space-6);
}

.pb_6 {
  padding-bottom: var(--space-6);
}

.mb_7 {
  margin-bottom: var(--space-7);
}

.pb_7 {
  padding-bottom: var(--space-7);
}

.mb_8 {
  margin-bottom: var(--space-8);
}

.pb_8 {
  padding-bottom: var(--space-8);
}

.mb_9 {
  margin-bottom: var(--space-9);
}

.pb_9 {
  padding-bottom: var(--space-9);
}

.mb_10 {
  margin-bottom: var(--space-10);
}

.pb_10 {
  padding-bottom: var(--space-10);
}

.mb_11 {
  margin-bottom: var(--space-11);
}

.pb_11 {
  padding-bottom: var(--space-11);
}

.mb_12 {
  margin-bottom: var(--space-12);
}

.pb_12 {
  padding-bottom: var(--space-12);
}

.ml_1 {
  margin-left: var(--space-1);
}

.pl_1 {
  padding-left: var(--space-1);
}

.ml_2 {
  margin-left: var(--space-2);
}

.pl_2 {
  padding-left: var(--space-2);
}

.ml_3 {
  margin-left: var(--space-3);
}

.pl_3 {
  padding-left: var(--space-3);
}

.ml_4 {
  margin-left: var(--space-4);
}

.pl_4 {
  padding-left: var(--space-4);
}

.ml_5 {
  margin-left: var(--space-5);
}

.pl_5 {
  padding-left: var(--space-5);
}

.ml_6 {
  margin-left: var(--space-6);
}

.pl_6 {
  padding-left: var(--space-6);
}

.ml_7 {
  margin-left: var(--space-7);
}

.pl_7 {
  padding-left: var(--space-7);
}

.ml_8 {
  margin-left: var(--space-8);
}

.pl_8 {
  padding-left: var(--space-8);
}

.ml_9 {
  margin-left: var(--space-9);
}

.pl_9 {
  padding-left: var(--space-9);
}

.ml_10 {
  margin-left: var(--space-10);
}

.pl_10 {
  padding-left: var(--space-10);
}

.ml_11 {
  margin-left: var(--space-11);
}

.pl_11 {
  padding-left: var(--space-11);
}

.ml_12 {
  margin-left: var(--space-12);
}

.pl_12 {
  padding-left: var(--space-12);
}

.mr_1 {
  margin-right: var(--space-1);
}

.pr_1 {
  padding-right: var(--space-1);
}

.mr_2 {
  margin-right: var(--space-2);
}

.pr_2 {
  padding-right: var(--space-2);
}

.mr_3 {
  margin-right: var(--space-3);
}

.pr_3 {
  padding-right: var(--space-3);
}

.mr_4 {
  margin-right: var(--space-4);
}

.pr_4 {
  padding-right: var(--space-4);
}

.mr_5 {
  margin-right: var(--space-5);
}

.pr_5 {
  padding-right: var(--space-5);
}

.mr_6 {
  margin-right: var(--space-6);
}

.pr_6 {
  padding-right: var(--space-6);
}

.mr_7 {
  margin-right: var(--space-7);
}

.pr_7 {
  padding-right: var(--space-7);
}

.mr_8 {
  margin-right: var(--space-8);
}

.pr_8 {
  padding-right: var(--space-8);
}

.mr_9 {
  margin-right: var(--space-9);
}

.pr_9 {
  padding-right: var(--space-9);
}

.mr_10 {
  margin-right: var(--space-10);
}

.pr_10 {
  padding-right: var(--space-10);
}

.mr_11 {
  margin-right: var(--space-11);
}

.pr_11 {
  padding-right: var(--space-11);
}

.mr_12 {
  margin-right: var(--space-12);
}

.pr_12 {
  padding-right: var(--space-12);
}

.mx_1 {
  margin-inline: var(--space-1);
}

.px_1 {
  padding-inline: var(--space-1);
}

.mx_2 {
  margin-inline: var(--space-2);
}

.px_2 {
  padding-inline: var(--space-2);
}

.mx_3 {
  margin-inline: var(--space-3);
}

.px_3 {
  padding-inline: var(--space-3);
}

.mx_4 {
  margin-inline: var(--space-4);
}

.px_4 {
  padding-inline: var(--space-4);
}

.mx_5 {
  margin-inline: var(--space-5);
}

.px_5 {
  padding-inline: var(--space-5);
}

.mx_6 {
  margin-inline: var(--space-6);
}

.px_6 {
  padding-inline: var(--space-6);
}

.mx_7 {
  margin-inline: var(--space-7);
}

.px_7 {
  padding-inline: var(--space-7);
}

.mx_8 {
  margin-inline: var(--space-8);
}

.px_8 {
  padding-inline: var(--space-8);
}

.mx_9 {
  margin-inline: var(--space-9);
}

.px_9 {
  padding-inline: var(--space-9);
}

.mx_10 {
  margin-inline: var(--space-10);
}

.px_10 {
  padding-inline: var(--space-10);
}

.mx_11 {
  margin-inline: var(--space-11);
}

.px_11 {
  padding-inline: var(--space-11);
}

.mx_12 {
  margin-inline: var(--space-12);
}

.px_12 {
  padding-inline: var(--space-12);
}

.my_1 {
  margin-block: var(--space-1);
}

.py_1 {
  padding-block: var(--space-1);
}

.my_2 {
  margin-block: var(--space-2);
}

.py_2 {
  padding-block: var(--space-2);
}

.my_3 {
  margin-block: var(--space-3);
}

.py_3 {
  padding-block: var(--space-3);
}

.my_4 {
  margin-block: var(--space-4);
}

.py_4 {
  padding-block: var(--space-4);
}

.my_5 {
  margin-block: var(--space-5);
}

.py_5 {
  padding-block: var(--space-5);
}

.my_6 {
  margin-block: var(--space-6);
}

.py_6 {
  padding-block: var(--space-6);
}

.my_7 {
  margin-block: var(--space-7);
}

.py_7 {
  padding-block: var(--space-7);
}

.my_8 {
  margin-block: var(--space-8);
}

.py_8 {
  padding-block: var(--space-8);
}

.my_9 {
  margin-block: var(--space-9);
}

.py_9 {
  padding-block: var(--space-9);
}

.my_10 {
  margin-block: var(--space-10);
}

.py_10 {
  padding-block: var(--space-10);
}

.my_11 {
  margin-block: var(--space-11);
}

.py_11 {
  padding-block: var(--space-11);
}

.my_12 {
  margin-block: var(--space-12);
}

.py_12 {
  padding-block: var(--space-12);
}

.container {
  width: min(100% - var(--space-10), 68rem);
  margin-inline: auto;
}
.container_relative {
  position: relative;
  overflow-x: hidden;
  padding-block-end: var(--space-8);
}
.container_relative::before, .container_relative::after {
  content: "";
  position: absolute;
  aspect-ratio: 1;
  border-radius: 50%;
}
.container_relative::before {
  background-color: hsl(181deg, 49%, 55%);
  width: 33.6%;
  top: 75px;
  left: -77px;
}
.container_relative::after {
  background-color: hsl(181deg, 49%, 81%);
  width: 36%;
  right: -47px;
  bottom: 0;
  z-index: -1;
}

.header__header {
  padding-block: var(--space-4);
  display: flex;
  justify-content: space-between;
}
.header__logo {
  width: 39.06%;
  object-fit: contain;
}
.header_border_bottom {
  border-bottom: 2px solid #FFD153;
}
.header__btn {
  background-color: var(--clr-to-plan);
  padding: var(--space-3) var(--space-8);
}
.header__content {
  padding-block: var(--space-8);
  text-align: left;
}
.header__paragraph {
  margin-block-start: var(--space-2);
  margin-block-end: var(--space-4);
}
.header__img {
  width: 90.84%;
  margin-inline: auto;
}
.header__img-wrapper {
  padding-block-end: var(--space-2);
  margin-block-end: var(--space-8);
  background-image: url(/src/asset/img/index/bg-yellow-mobile.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
}

.content {
  padding-block-start: calc(var(--space) * 3.75);
}
.content__title {
  margin-block-end: var(--space-4);
}
.content__list {
  margin-block-start: var(--space-8);
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  align-items: center;
}
.content__item {
  width: 68.06%;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.btn {
  border-radius: 99em;
  display: inline-block;
  line-height: 1;
}
.btn_back-top {
  width: 13.33%;
  display: flex;
  border-radius: 50%;
  position: fixed;
  inset: auto clamp(var(--space-4), 4vw, var(--space-12)) 12vh auto;
  z-index: 1;
}
.btn_primary {
  background-color: var(--clr-primary);
  font-size: 1.125rem;
  padding: var(--space-4) var(--space-8);
}

.pic {
  margin-inline: auto;
}
.pic_sm {
  width: 26.32%;
}

.card {
  border-radius: var(--space-3);
  box-shadow: 0px 2px 10px 0 var(--clr-shadow);
}
.card_sm {
  width: 68.66%;
  display: flex;
  flex-direction: column;
  padding-block: var(--space-8) var(--space-12);
  padding-inline: var(--space-6) var(--space-10);
  text-align: left;
  gap: var(--space-5);
}
.card_md {
  width: 77.61%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  gap: var(--space-4);
}
.card_md > p {
  padding: 0 var(--space-4) var(--space-6);
}
.card_lg {
  margin-top: 56px;
  position: relative;
  padding: var(--space-12) var(--space-4) var(--space-4);
  text-align: left;
}
.card_lg > p {
  padding-block: var(--space-2) var(--space-4);
  border-bottom: 1px solid var(--clr-others);
}
.card_lg > h3 {
  margin-block: var(--space-4) var(--space-1);
}
.card__avatar {
  width: 34.12%;
  position: absolute;
  top: -4rem;
  left: 1rem;
  border-radius: 50%;
}
.card__footer {
  display: flex;
  justify-content: space-between;
  padding-inline-end: var(--space-4);
}

.icon {
  width: 37.39%;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0px 2px 10px 0 var(--clr-shadow);
  display: flex;
}
.icon > svg {
  width: 60.47%;
  margin: auto;
}

.stars {
  width: 43.05%;
  display: flex;
  gap: var(--space-2);
  align-items: center;
}

.horizontal-scroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  padding-inline: var(--space-5);
  padding-block-end: var(--space-6);
  gap: var(--space-5);
  overflow-x: scroll;
  overscroll-behavior-inline: contain;
  scroll-padding-inline: var(--space-5);
  scroll-snap-type: inline mandatory;
}
.horizontal-scroller__item {
  scroll-snap-align: start;
}

/*# sourceMappingURL=style.css.map */
