@use '../abstract/mixins' as *;

.plan {
  &__header {
    &-content {
      padding-block: var(--space-12) 22.5rem;
      text-align: left;
      background-image: url(./src/asset/img/plan/img-plan.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right bottom;
      position: relative;
    
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--clr-plan-header);
        z-index: -1;
        border-radius: 0 0 0 9.375rem;
      }
    }

    &-title {
      font-size: clamp(var(--fz-8), 8.5vw, var(--fz-12));
    }
  }

  &__main-title {
    font-size: clamp(var(--fz-7), 7.4vw, var(--fz-8));
  }

  &__list {
    gap: clamp(0.375rem, 1.5vw, var(--space-4));
  }

  &__card {
    width: min(100%, 27.75rem);
    padding-block: clamp(var(--space-4), 4vw, var(--space-6)) clamp(var(--space-6), 6.4vw, var(--space-8));
    align-items: center;

    &-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--space-6);
    }
  }

  &__description {
    width: 100%;
    padding-block: var(--space-6) var(--space-9);
    padding-inline: clamp(var(--space-4), 4vw, var(--space-8));
    border-top: 1px solid var(--clr-others);
  }

  &__relative {
    position: relative;

    &::after {
      content: '';
      background-color: hsl(45, 90%, 84%);
      position: absolute;
      width: clamp(12.75rem, 50vw, 22.625rem);
      aspect-ratio: 1;
      border-radius: 50%;
      top: 55%;
      z-index: -1;
      left: -6.75rem;
    }
  }

  @include above-800px {
    &__header {
      position: relative;
      background-image: url(./src/asset/img/plan/img-plan-large.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
      
      &-content {
        background-image: none;
        position: static;

        &::after {
          border-radius: 0 0 0 18.75rem;
          height: 80%;
        }
      }
    }

    &__card {
      width: min(48.84%, 27.75rem);
      &-list {
        flex-direction: row;
        justify-content: center;
        gap: var(--space-5);
      }
    }

    &__relative {
      &::after {
        left: -16.75rem;
        top: 45%;
      }
    }
  }
}

.spreadsheet {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-block-start: clamp(var(--space-6), 6.4vw, var(--space-8));

  &__panel {
    width: min(45.87%, 10.5625rem);
    padding-block: clamp(var(--space-4), 4vw, var(--space-6));
    border-radius: 12px;
    background-color: var(--clr-footer);
  }

  @include above-800px {
    justify-content: space-between;
  }
}

.feature {
  text-align: left;
  padding-inline-start: 2rem;
  background-image: url(./src/asset/img/plan/ic-checkmark.svg);
  background-repeat: no-repeat;
  background-size: 1rem 0.875rem;
  background-position: left center;
  font-size: 0.875rem;

  &s {
    margin-block-start: clamp(var(--space-7), 7.4vw, var(--space-8));
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
  }
}

.qa {
  &[open] {
    color: var(--clr-primary);;

    & > p {
      color: var(--clr-font-gray);
      padding-block: var(--space-4) var(--space-2);
    }

    & .qa__icon::after {
      transform: rotate(-90deg) translate(375%, -5%);
    }
  }

  & > p {
    line-height: 2;
  }

  &__icon {
    display: block;
    position: relative;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      background-color: var(--clr-primary);
      position: absolute;
    }

    &::before {
      width: 1rem;
      height: 0.125rem;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }

    &::after {
      width: 0.125rem;
      height: 1rem;
      top: 50%;
      right: 0.375rem;
      transform: translate(-50%, -50%);
      transition: transform 0.2s linear;
    }
  }
}

input[name="amount"]:checked + .btn_plan {
  background-color: var(--clr-primary);
  color: white;
}