.btn {
  border-radius: 99em;
  display: inline-block;
  line-height: 1;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }

  &_back-top {
    width: min(13.33%, 4.4375rem);
    display: flex;
    border-radius: 50%;
    position: fixed;
    inset: auto clamp(var(--space-4), 4vw, var(--space-12)) 12vh auto;
    z-index: 1;
  }

  &_primary {
    background-color: var(--clr-primary);
    font-size: 1.125rem;
    padding: var(--space-4) var(--space-8);
  }

  &_plan {
    border: 1px solid var(--clr-primary);
    font-size: var(--fz-4);
    padding: var(--space-4);
    color: var(--clr-primary);

    &:hover {
      background-color: var(--clr-primary);
      color: white;
    }
  }
  &_submit {
    font-size: 1.125rem;
  }
}