@use '../abstract/mixins' as *;

.card {
  border-radius: var(--space-3);
  box-shadow: 0px 2px 10px 0 var(--clr-shadow);
  background-color: #fff;
  display: flex;
  flex-direction: column;

  &__avatar {
    width: 34.12%;
    position: absolute;
    top: -4rem;
    left: 1rem;
    border-radius: 50%;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding-inline-end: var(--space-4);
  }
}

.icon {
  width: 51.81%;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0px 2px 10px 0 var(--clr-shadow);
  display: flex;

  & > svg {
    width: 60.47%;
    margin: auto;
  }
}