@use '../abstract/mixins' as *;

.card {
  border-radius: var(--space-3);
  box-shadow: 0px 2px 10px 0 var(--clr-shadow);
  background-color: #fff;
  display: flex;
  flex-direction: column;

  // &_lg {
  //   margin-top: 56px;
  //   position: relative;
  //   padding: var(--space-12) var(--space-4) var(--space-4);
  //   text-align: left;

  //   & > p {
  //     padding-block: var(--space-2) var(--space-4);
  //     border-bottom: 1px solid var(--clr-others);
  //   }

  //   & > h3 {
  //     margin-block: var(--space-4) var(--space-1);
  //   }
  // }

  &__avatar {
    width: 34.12%;
    position: absolute;
    top: -4rem;
    left: 1rem;
    border-radius: 50%;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding-inline-end: var(--space-4);
  }
}

.icon {
  width: 51.81%;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0px 2px 10px 0 var(--clr-shadow);
  display: flex;

  & > svg {
    width: 60.47%;
    margin: auto;
  }
}