@use '../abstract/mixins' as *;

.horizontal-scroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  scrollbar-color: transparent transparent;

  &__list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    padding-block-end: var(--space-6);
    
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    
    scroll-padding-inline: var(--space-5);
    scroll-snap-type: inline mandatory;
    scrollbar-color: transparent transparent;
  }

  &__item {
    width: clamp(20.9375rem, 44vw, 22rem);
    margin-inline: auto;
    scroll-snap-align: center;
  }

  & > *:not(:first-child) {
    display: none;

    @include above-1104px {
      display: inline-block;
    }
  }

  &__bar {
    width: 4.375rem;
    height: 0.625rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
  }
  
  &__dot {
    border-radius: 1rem;
    width: 0.625rem;
    aspect-ratio: 1;
    background-color: var(--clr-others);
    cursor: pointer;
  }

  @include above-800px {
    &__list {
      grid-auto-columns: 50%;
    }
  }

  @include above-1104px {
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
  
    scroll-padding-inline: var(--space-4);
    scroll-snap-type: inline mandatory;

    &__scroller {
        width: 69.75rem;
        scroll-snap-align: center;
        margin-inline: auto;
    }
    &__list {
      overflow-x: auto;
      grid-auto-columns: 1fr;
    }
  }
}

.select {
  width: 1rem;
  background-color: var(--clr-scroll-bar);
}