@use '../abstract/mixins' as *;

.container {
  width: min(100% - var(--space-10), 68rem);
  margin-inline: auto;

  @include above-600px {
    padding-inline: var(--space-4);
  }

  @include above-1104px {
    padding-inline: 0rem;
  }

  &__circles-style {
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
    }
    
    &::before {
      aspect-ratio: 1;
      transform: translate(-50%, -50%);
      background-color: hsl(181, 49%, 55%);
      width: min(33.6%, 22.5rem);
      border-radius: 50%;
      top: 8.625rem;
      left: -0.875rem;
      
      @include above-800px {
        top: 0;
        left: -2.625rem;
      }
    }

    &::after {
      background-image: url(src/asset/img/index/ball.svg);
      width: clamp(5.5rem, 19vw, 13.125rem);
      aspect-ratio: 88 / 135;
      background-position: left;
      background-size: cover;
      right: 0;
      bottom: -2rem;
      z-index: -1;

      @include above-1104px {
        bottom: -12rem;
      }
    }
  }
}