@use '../abstract/mixins' as *;

.container {
  width: min(100% - var(--space-10), 68rem);
  margin-inline: auto;

  @include above-600px {
    padding-inline: var(--space-4);
  }

  @include above-1104px {
    padding-inline: 0rem;
  }

  &_relative {
    position: relative;
    overflow-x: hidden;
    padding-block-end: var(--space-8);

    &::before,
    &::after {
      content: '';
      position: absolute;
      aspect-ratio: 1;
      border-radius: 50%;
    }

    &::before {
      background-color: hsl(181, 49%, 55%);
      width: 33.6%;
      top: 75px;
      left: -77px;
    }

    &::after {
      background-color: hsl(181, 49%, 81%);
      width: 36%;
      right: -47px;
      bottom: 0;
      z-index: -1;
    }
  }
}
