.footer {
  background-image: url(/src/asset/img/index/bg-footer-mobile.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 70vh;
  display: grid;
  margin-block-start: clamp(3.75rem, 11.7vw, 6.25rem);

  &__content {
    margin-block-start: auto;
    
    & > h2 {
      margin-block-end: var(--space-6);
    }
    & > a {
      margin-block-end: calc(var(--space) * 3.75);
    }
  }

  &__copyright {
    background-color: var(--clr-footer);
    padding-block: var(--space-4);
  }
}